{% extends "crud/base.html" %}
{% load static %}
{% block content %}
<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Pricing example</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
        <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a>
      </nav>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <a class="display-4 fw-normal btn btn-lg btn-primary text-decoration-none" href="upload/">Add product</a>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
      {% for item in queryset %}
      <div class="col">
        <div class="card py-3" style="width: 18rem;">
          <img src="{{item.picture.url}}" class="card-img-top" alt="no img ">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
            <p class="card-title">Rs.{{item.price}}</p>
            <div class="card-footer">
                <a href="update/{{item.id}}" class="btn btn-primary" id="{{item.id}}">Edit</a>
                <a href="delete/{{item.id}}" class="btn btn-danger" id="{{item.id}}">Delete</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
</div>

{% endblock content %}